{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="form_frame">
      <form action="persons_list" method="GET">
            {% csrf_token %}
            {{ form }}
            <input type="submit" vlaue="Submit">
        </form>
    </div>

</body>
</html>
