* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.a_button {
    display: inline-block;
    text-decoration: none;
    background-color: #66B2FF;
    margin-left: 21px;
    margin-top: 20px;
    padding: 13px 5px;
    border-radius: 5px;
    color: #FFFFFF;
}

p {
    text-align: center;
    margin-top: 5px;
}

#index_section {
    margin-left: 800px;
    margin-top: 300px;
    width: 350px;
    height: 100px;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 1px 1px 10px 1px black;
}

#form_frame {
    border: solid black 1px;
    width: 350px;
    height: 100px;
    border-radius: 5px;
    margin-left: 800px;
    margin-top: 300px;
    background-color: #FAFAFF;
    box-shadow:  1px 1px 10px 1px black;
}