{% extends "templates/layout/base.html" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Countrycode</th>
                <th>District</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>

        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.countrycode.code }}</td>
                <td>{{ city.district }}</td>
                <td>{{ city.population }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}