@media only screen and (max-width: 480px){
    body{
        width: 480px;
    }
}

#container > header{
    margin-left: 45%;
}

#newsletter{
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-rule: 1px solid #ddccb5;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -moz-column-rule: 1px solid #ddccb5;
            column-count: 2;
            column-gap: 20px;
            column-rule: 1px solid #ddccb5;
    
}

aside{
    width: 40%;
    float: right;
    padding: 15px;
    box-shadow: -5px 0 5px -5px #29627e;
    color: #29627e;
}

footer {
    margin-left: 40%;
}