.rectangle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15%;
    margin-bottom: -1%;
}

.gameField {
    display: block;
    width: 384px;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid black;
}